.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 150vw;
  aspect-ratio: 1;
  background: #fece62;
  clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .star {
    max-height: 800px;
    max-width: 800px;
  }
}
