body {
  background-color: #fff4e3;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  margin: 0;
}

.header {
  background-color: #6bcb9d;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
}

.card {
  background-color: #c39acb;
  transition: 0.3s;
  border-radius: 8px;
  padding: 10px;
}
